<!DOCTYPE html>
<html>
<head>
    <title>Formarble example</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="../../formarble.js"></script>
    <script src="schema.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="FormarbleExample">
<div class="container">
    <h1>Formarble example</h1>

    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal">
                <div fm-form fm-schema="schema" ng-model="model"></div>
                <div class="form-group">
                    <div class="col-sm-push-4 col-sm-8">
                        <button class="btn btn-primary" ng-click="send()">Send</button>
                        <button class="btn" ng-click="reset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <form class="form-horizontal">
                <input type="text" ng-model="model.summary"/>
            </form>
        </div>
    </div>
    <div>
        Filtered:
        <pre>{{modelFiltered | json}}</pre>
        Model:
        <pre>{{model | json}}</pre>
    </div>
</div>
</body>

<script id="formarble/group" type="text/ng-template">
    <h2 ng-if="::$control.title" ng-bind="::$control.title"></h2>
    <div ng-repeat="c in ::$subControls | orderBy:'order'" fm-control="c"></div>
</script>
<script id="formarble/textarea" type="text/ng-template">
    <div class="form-group" ng-class="{'has-error': $input.$invalid}">
        <label class="control-label col-sm-4" fm-label="$control">
            {{:: $control.title || $control.path}}
        </label>

        <div class="col-sm-8">
            <textarea class="form-control" fm-input="$control"/>

            <p class="help-block">{{:: $control.description}}</p>
        </div>
    </div>
</script>
<script id="formarble/input" type="text/ng-template">
    <div class="form-group" ng-class="{'has-error': $input.$invalid}">
        <label class="control-label col-sm-4" fm-label="$control">
            {{:: $control.title || $control.path}}
        </label>

        <div class="col-sm-8">
            <input class="form-control" fm-input="$control"/>

            <p class="help-block">{{:: $control.description}}</p>
        </div>
    </div>
</script>
<script id="formarble/input:checkbox" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4" fm-label="$control">
            {{:: $control.title || $control.path}}
        </label>

        <div class="col-sm-8">
            <div class="checkbox">
                <label>
                    <input type="checkbox" fm-input="$control"> {{:: $control.description}}
                </label>
            </div>
        </div>
    </div>
</script>
<script id="formarble/radio-list" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4">
            {{:: $control.title || $control.path}}
        </label>

        <div class="col-sm-8">
            <div class="radio" ng-class="{'radio-inline': $control.display.inline}"
                 ng-repeat="li in $control.display.options">
                <label>
                    <input type="radio" fm-input="$control" ng-value="li.id"/> {{::
                    li.title}}
                </label>
            </div>
        </div>
    </div>
</script>
<script id="formarble/select" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4" fm-label="$control">{{:: $control.title || $control.path}}</label>

        <div class="col-sm-8">
            <select class="form-control" fm-input="$control"></select>
        </div>
    </div>
</script>
</html>