<!DOCTYPE html>
<html>
<head>
    <title>Formarble example</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="../../formarble.js"></script>
    <script src="schema.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="FormarbleExample">
<div class="container">
    <h1>Formarble example</h1>

    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" fm-form="schema" ng-model="model">
                <div fm-control="$control"></div>
            </form>
        </div>
        <div class="col-md-6">
            <input type="range" ng-model="model.image.testRange" step="0.01" min="0" max="1"/><br/>
            <input type="text" ng-model="model.image.testText"/>
            <hr/>
            Filtered:
            <pre>{{modelFiltered | json}}</pre>
            Model:
            <pre>{{model | json}}</pre>

        </div>
    </div>

</div>
</body>

<script id="formarble/group" type="text/ng-template">
    <div>
        <h2>Group: {{::$control.path}}</h2>

        <div ng-repeat="c in ::$subControls" fm-control="c"></div>

    </div>
</script>
<script id="formarble/group:tab" type="text/ng-template">
    <!-- Nav tabs -->
    <ul class="nav nav-pills">
        <li ng-class="{active: $first}"
            ng-repeat="c in ::$subControls">
            <a href="#{{::c.path.split('.').join('-')}}" data-toggle="tab">{{::c.title || c.description || c.path}}</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane"
             ng-class="{active: $first}"
             ng-repeat="c in ::$subControls"
             id="{{::c.path.split('.').join('-')}}"
             fm-control="c"></div>
    </div>
</script>
<!--
<script id="formarble/input" type="text/ng-template">
    <div class="form-group" ng-class="{'has-error': $input.$invalid, 'has-success': !$empty}">
        <label class="control-label col-sm-4" fm-label="$control">{{:: $control.title || $control.path}}</label>

        <div class="col-sm-8">
            <input class="form-control" fm-input="$control" placeholder="Use default"/>

            <p class="help-block">{{:: $control.description}}</p>
        </div>
    </div>
</script>
-->
<script id="formarble/input" type="text/ng-template">
    <div class="form-group" ng-class="{'has-error': $input.$invalid}">
        <label class="control-label col-sm-4" fm-label="$control">
            {{:: $control.title || $control.path}}
        </label>

        <div class="col-sm-8">
            <input class="form-control" fm-input="$control"/>

            <p class="help-block">{{:: $control.description}}</p>
        </div>
    </div>
</script>
<script id="formarble/input:checkbox" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4" fm-label="$control">
            {{:: $control.title || $control.path}}
        </label>
        <div class="col-sm-8">
            <div class="checkbox">
                <label>
                    <input type="checkbox" fm-input="$control"> {{:: $control.description}}
                </label>
            </div>
        </div>
    </div>
</script>
<script id="formarble/radio-list" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4">
            {{:: $control.title || $control.path}}
        </label>

        <div class="col-sm-8">
            <div class="radio" ng-repeat="li in $control.display.options">
                <label>
                    <input type="radio" fm-input="$control" ng-value="li.id"/> {{:: li.title}}
                </label>
            </div>
        </div>
    </div>
</script>
<!-- <script id="formarble/input:checkbox" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4" fm-label="$control">{{:: $control.title || $control.path}}</label>

        <div class="col-sm-8">
            <select class="form-control" ng-model="$model">
                <option value>Use default</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>
</script>-->
<script id="formarble/select" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4" fm-label="$control">{{:: $control.title || $control.path}}</label>

        <div class="col-sm-8">
            <select class="form-control" fm-input="$control"></select>
        </div>
    </div>
</script>
</html>