<!DOCTYPE html>
<html>
<head>
    <title>Formarble example</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="../../formarble.js"></script>
    <script src="schema.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="FormarbleExample">
<div class="container">
    <h1>Formarble example</h1>

    <div>
        <form class="form-horizontal" fm-form="schema" fm-theme="bs" ng-model="model">
            <div fm-control="$control"></div>
        </form>
    </div>
    <pre>
        Model: {{model}}
    </pre>

</div>
</body>

<script id="bs/tree" type="text/ng-template">
    <div class="row">
        <div class="col-lg-3">
            <ol>
                <li ng-repeat="c in $subControls">
                    {{c.title || c.path}}
                    <ul>
                        <li ng-repeat="cc in c.properties" ng-if="cc.properties">
                            <a href ng-click="$control.selected = cc">{{cc.title || cc.path}}</a>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="col-lg-9" ng-if="$control.selected">
            Selected: {{$control.selected.title || $control.selected.path}}
            <div fm-control="$control.selected"></div>
        </div>
        <div class="col-lg-9" ng-if="!$control.selected">
            Select group in tree first
        </div>
    </div>
</script>
<script id="bs/group" type="text/ng-template">
    <div>
        <h2>Group: {{::$control.path}}</h2>

        <div ng-repeat="c in ::$subControls" fm-control="c"></div>

    </div>
</script>
<script id="bs/group:tab" type="text/ng-template">
    <!-- Nav tabs -->
    <ul class="nav nav-pills">
        <li ng-class="{active: $first}"
            ng-repeat="c in ::$subControls">
            <a href="#{{::c.path.split('.').join('-')}}" data-toggle="tab">{{::c.title || c.description || c.path}}</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane"
             ng-class="{active: $first}"
             ng-repeat="c in ::$subControls"
             id="{{::c.path.split('.').join('-')}}"
             fm-control="c"></div>
    </div>
</script>
<script id="bs/input" type="text/ng-template">
    <div class="form-group" ng-class="{'has-error': $input.$invalid}">
        <label class="control-label col-sm-4" fm-label>
        {{:: $control.title || $control.path}}
        </label>

        <div class="col-sm-8">
            <input class="form-control" fm-input/>

            <p ng-if="::$control.description" class="help-block">
                {{:: $control.description}}
                <a ng-if="::$control.display.hint" title="{{::$control.display.hint}}">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            </p>

        </div>
    </div>
</script>
<script id="bs/input/range" type="text/ng-template">
    <div class="form-group" ng-class="{'has-error': $input.$invalid}">
        <label class="control-label col-sm-4" fm-label>
        {{:: $control.title || $control.path}}
        </label>

        <div class="col-sm-8">
            <div class="input-group">
                <input class="form-control" type="range" fm-input/>
                <span class="input-group-addon" style="min-width: 60px">{{$value || 'N/A'}}</span>
            </div>


            <p ng-if="::$control.description" class="help-block">
                {{:: $control.description}}
                <a ng-if="::$control.display.hint" title="{{::$control.display.hint}}">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
            </p>

            <small ng-if="$input.$dirty"><a href ng-click="$input.$setPristine()">use default</a></small>

        </div>
    </div>
</script>
<script id="bs/checkbox" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4" fm-label>
        {{:: $control.title || $control.path}}
        </label>
        <div class="col-sm-8">
            <div class="checkbox">
                <label>
                    <input type="checkbox" fm-input> {{:: $control.description}}
                </label>
            </div>
        </div>
    </div>
</script>
<script id="bs/radiolist" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4">
            {{:: $control.title || $control.path}}
        </label>

        <div class="col-sm-8">
            <div class="radio" ng-repeat="li in $control.display.options">
                <label>
                    <input type="radio" fm-input ng-value="li.id"/> {{:: li.title}}
                </label>
            </div>
        </div>
    </div>
</script>
<script id="bs/select" type="text/ng-template">
    <div class="form-group">
        <label class="control-label col-sm-4" fm-label>{{:: $control.title || $control.path}}</label>

        <div class="col-sm-8">
            <select class="form-control" fm-input></select>
        </div>
    </div>
</script>
</html>