<div class="form-group" ng-class="{'has-error': $input.$dirty && $input.$invalid}">
    <label class="control-label col-sm-4" fm-control-label></label>

    <div class="col-sm-8" ng-if="$empty" fm-control-empty></div>
    <div class="col-sm-8" ng-if="!$empty">
        <input class="form-control" fm-control-input/>

        <p class="help-block pull-right">
            <a href ng-click="$setEmpty()">use default</a>
        </p>

        <p ng-if="$control.description" class="help-block">{{$control.description}}</p>
    </div>
</div>